.mainProducts{
    &__header{
        padding: 0 0.5rem;
        @include flexbox(row, space-between, center);
    }
    &__title{
        &--bold{
            font-weight: bold;
        }
    }
    &__container{
        @include grid-container(1fr, auto 1fr);
        gap: 1rem;
        overflow: hidden;
    }
    /* &__principal{

    } */
    &__secondary{
        width: 100%;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__item{
        @include flexbox(row, space-between, end);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 2rem;
        overflow: hidden;
        &--primary{
            width: 100%;
            aspect-ratio: 5/3;
            background-image: url("https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        }
        &--secondary{
            scroll-snap-align: start;
            height: inherit;
            flex: 1 0 auto;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                $h: (random(10) + 5) + rem;
                width: $h;
                background-image: nth($list: $images, $n: $i);
                }
            }
        }
    }
    &__text{
        padding: 0.5rem 1rem;
        &--bold{
            font-weight: bold;
        }
        &--light{
            font-weight: lighter;
        }
    }
    &__addProduct{
        padding: 1.2rem;
        background-color: map-get($map: $colors, $key: 'secondary');
        border-top-left-radius: 2rem;
        cursor: pointer;
    }
    &__icon{
        font-weight: bold;
        font-size: map-get($map: $font-size, $key: 'bg');
        color: map-get($map: $colors, $key: 'primary-text');
    }
}