.shoppingPrice{
    width: 100%;
    padding: 1rem;
    @include flexbox(column);
    gap: 2.5rem;
    background-color: map-get($map: $colors, $key: 'fourth');
    border-radius: 1rem;
    &__info{
        @include flexbox(column, center, space-between);
        gap: 1rem;
    }
    &__detail{
        @include flexbox(row, space-between, center);
    }
    &__text{
        color: map-get($map: $colors, $key: 'secondary');
        &--link{
            padding-left: 0.5rem;
            color: map-get($map: $colors, $key: 'secondary-text');
            text-decoration: underline;
        }
        &--bold{
            font-weight: bold;
        }
    }
}