*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    @include text(hg, lighter, primary-text);
    margin: 0;
}
h2{
    @include text(bg, lighter, primary);
}
h3{
    @include text(md, lighter, primary);
}
h4{
    @include text(md, lighter, primary-text);
}
h5{
    @include text(md, lighter, primary-text);
}
p {
    @include text(sm, lighter, secondary-text);
}
a{
    @include text(sm, lighter, primary);
    text-decoration: none;
}
li{
    list-style: none;
}
select{
    @include text(sm, lighter, primary-text);
}
option {
    @include text(sm, lighter, primary);
}
input::placeholder{
    @include text(sm, lighter, secondary-text);
}
button{
    @include text(bg, bold, secondary);
    cursor: pointer;
}