// MIXIN
@mixin  text($number-font, $font-weight:null, $text-color){
    font-size: map-get($font-size, $number-font);
    font-weight: $font-weight;
    color: map-get($colors , $text-color);
}
@mixin flexbox($direction, $content: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
@mixin grid-container ($columns, $rows: null, $content: null, $align: null){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: $content;
    align-items: $align;
}
@mixin font-text($size, $weight: null, $height: null){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}