.shopping {
    display: none;
    background-color: map-get($map: $colors, $key: 'primary');
    border-radius: 1.5rem;
    overflow: hidden;
    @include respond-to('large'){
        grid-area: aside;
        @include grid-container(1fr, 1fr auto);
    }
    &__information{
        padding: 2rem;
        @include flexbox(column, space-between, center);
    }
    &__checkout{
        width: 100%;
        padding: 1.5rem;
        @include flexbox(row, center, center);
        gap: 0.5rem;
        border: none;
        background-color: map-get($map: $colors, $key: 'fifth');
    }
}